.chat-main
  .main-header
    .main-header__group-box
      %p.main-header__group-box__current-group
        test
      %ul.main-header__group-box__member-list
        Member : 
        %li.main-header__group-box__member-list__member
          masa
    = link_to "#", class: "main-header__edit-btn" do
      Edit
  .messages
    .message
      .message__message-info
        %p.massage__message-info__talker
          masa
        %p.message__message-info__date
          2019/11/20(Wed) 17:43:01
      .message__text
        おはよう！
    .message
      .message__message-info
        %p.massage__message-info__talker
          masa
        %p.message__message-info__date
          2019/11/20(Wed) 17:43:43
      .message__text
        今日は夜から雨
  .form
    =form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          =icon('far', 'image')
          =f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

